@using Microsoft.AspNetCore.Components.Web
@using NamespaceAlias = SRTPluginProducerRE4R
@namespace NamespaceAlias.Views.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RE4R</title>
    <base href="~/" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SRTHost.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="w-full h-full bg-slate-900 text-white">
    <header>
    </header>
    <div class="mx-auto container w-full h-full">
        <main class="container w-full h-full" role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
    </footer>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
