<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RE4R</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="w-full h-full bg-slate-900 text-white">
    <header>
        <!-- Header content goes here -->
    </header>
    <div class="mx-auto container w-full h-full">
        <main class="container w-full h-full" role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
