@using Microsoft.AspNetCore.Components.Web
@using NamespaceAlias = SRTPluginProducerRE4R
@namespace NamespaceAlias.Views.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RE4R</title>
    <base href="~/" />
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link href="css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="w-full h-screen bg-zinc-900 text-white">
    <div class="mx-auto sm:container w-full h-full">
        <main class="w-full h-full flex flex-col sm:justify-center items-center" role="main">
            @RenderBody()
        </main>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
