@code {
	[Parameter]
	public PluginConfiguration Model { get; set; }

	private void SaveConfig()
	{
		SRTPluginProducerRE4R.Config = Model;
	}
}

@Model.FontSize

<input class="text-black p-2 rounded-md" @bind="Model.FontSize" />

<button class="btn btn-primary" @onclick="SaveConfig">Save</button>
